<html>
<body>
	<center>
		<h1>Ansible Demo</h1>
	</center>

	<center>
		<img src="https://imagineer.in/assets/img/media/work_bangpypers.jpg" alt="bangpypers">
	</center>

	<center>
		<h1>{{message}}</h1>
	</center>
</body>
</html>